<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Table Number</th>
                    <th scope="col">Item</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let order of orders">
                    <ng-container *ngFor="let item of order.items">
                        <tr *ngIf="item.status === 'InProgress'">
                            <th scope="row">{{order.tableId}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.createdAt | date: 'HH:mm'}}</td>
                            <td [ngClass]="{'table-warning': item.status === 'InProgress'}">{{item.status}}
                            </td>
                            <td>
                                <button (click)="completeItem(order._id, item)">Complete</button>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
