<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Table Number</th>
            <th scope="col">Item</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of (items | orderBy: 'createdAt')">
            <tr *ngIf="item.status === 'InProgress'">
              <th scope="row">{{ item.tableId }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.createdAt | date: 'HH:mm' }}</td>
              <td [ngClass]="'table-warning'">
                {{ item.status }}
              </td>
              <td>
                <button (click)="completeItem(item.orderId, item)">
                  Complete
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
