@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
  white-space: nowrap;
  font-size: 1em;
}

.title {
  position: relative;
  height: 10vh;
}

.half {
  height: 50%;
}

.sidebar {
  position: fixed;
  top:3rem;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.navbar {
  z-index: 9999;
  background-color: #7ba8ca;
  position: fixed;
  right: 0;
  left: 0;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
  margin-right: 1rem;
  padding: 0.5rem 0;
}

.navbar-nav li a {
  color: #fff;
  font-weight: bold;
}

.navbar-nav li a:hover {
  text-decoration: none;
}

#menuBar {
  border-bottom: 0.4px solid white;
}

#staffBar {
  border-top: 0.4px solid white;
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: grey;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  font-size: 1.0em;
  color: white;
  background-color: grey;
  cursor: pointer;
  border: none;
}

.savebtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  font-size: 1.0em;
  color: white;
  background-color: lightgreen;
  cursor: pointer;
  border: none;
}

.addBtn {
  position: relative;
  top: 0;
  padding: 10px 15px;
  font-size: 1.0em;
  color: white;
  background-color: lightblue;
  cursor: pointer;
  border: none;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 1.0em;
  cursor: pointer;
  background-color: grey;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*.main {*/
  /*transition: margin-left .5s;*/
/*}*/

.main {
  padding: 4rem 1.5rem;
  max-width: inherit;
}

.menuOpen {
  margin-left: 37%;
  max-width: 66.6%;
}

.content {
  transition: margin-left .5s;
  padding: 15px;
  height: 50vh;
}

.sideScroll {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 100px;
  height: calc(100% - 55px);
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 1em;
}

.table td {
  text-decoration-line: underline;
}

.removeBtn {
  position: relative;
  float: right;
}

.menuName {
  width: 45%;
}

.menuPrice {
  width: 15%;
}

.menuCategory {
  width: 40%
}

.selectBox {
  border: none;
  background-color: transparent;
}

.userName {
  width: 40%;
}

.userType {
  width: 30%;
}

.userPin {
  width: 30%
}

#userPin {
  width: 3vw;
  display: inline-block;
}

td input {
  width: 100%;
  vertical-align: middle;
}

td select {
  vertical-align: middle;
}

.btnAdd {
  float: right;
  display: inline-block;
}

.data {
  white-space: nowrap;
}

.display {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayValue {
  font-size: 2.8em;
  color: grey;
}

.displayText {
  font-size: 1.4em;
  color: grey;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.displayBox {
  border: 2px solid lightblue;
  border-radius: 20px;
  height: 30vh;
}

.displayBoxLink {
  cursor: pointer;
}

.displayBoxLink:hover {
  border: 2px solid gray;
}

.summaryDetails {
  display: none;
  text-align: center;
  margin: 5%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
