<div class="nav-side-menu" style="padding: 1%;" *ngIf="order">

    <h3>Order - <i>Table {{order.tableId}} </i>
        <i class="fas fa-times-circle" (click)="closeClick()">
        </i>
    </h3>


    <small>Waiter ID: {{waiterId}}</small>
    <hr>
    <div class="menu-list">
        <div id="menu-content" class="menu-content collapse out">
            <div class="row">
                <div class="col-sm col-md-2 col-lg-2">
                    <b>Item</b>
                </div>
                <!-- <div class="col-sm col-md-1 col-lg-1">
                    <b>Quantity</b>
                </div> -->
                <div class="col-sm col-md-2 col-lg-2">
                    <b>Price</b>
                </div>
            </div>
            <hr>
            <div class="row" *ngFor="let item of order.orderItems">
                <div class="col-2">
                    {{item.name}}
                </div>
                <!-- <div class="col-1">
                    {{item.quantity}}&nbsp;
                    <i class="fas fa-plus" (click)="increaseQuantity(item)"></i>&nbsp;
                    <i class="fas fa-minus" (click)="decreaseQuantity(item)"></i>
                </div> -->
                <div class="col-1">
                    £{{item.pricePerPortion}}
                </div>
            </div>

            <ng-container *ngIf="type == 'counter' && order.status != 'Completed'">
                <hr>
                <form name="addDiscount" [formGroup]="discountForm" (submit)="addPromo()" #newDiscount="ngForm">
                    <div class="row">
                        <div class="col-3">
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" value="0" formControlName="discount"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                <div class="input-group-append">
                                    <span class="input-group-text">% Discount</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-sm btn-primary">Add</button>
                        </div>

                    </div>
                </form>
            </ng-container>
            <hr>
            <div class="row">
                <div class="col-2">
                    <h2>Total:</h2>
                </div>
                <div class="col-2" style="text-align: right;" *ngIf="!totalWithDiscount">
                    <h2>&#163;{{totalNoDiscount.toFixed(2)}}</h2>
                </div>
                <div class="col-2" style="text-align: right;" *ngIf="totalWithDiscount">
                    <h2>&#163;{{totalWithDiscount.toFixed(2)}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <b>Discount:</b>
                </div>
                <div class="col-2" style="text-align: right;">
                    <b>- &#163;{{dicountedValue.toFixed(2)}}</b>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-1" *ngIf="order.status != 'Completed'">
                <button type="button" class="btn btn-warning" *ngIf="type == 'waiter'">Start</button>
                <button type="button" class="btn btn-warning" *ngIf="type == 'counter'">Update</button>
            </div>
            <ng-container *ngIf="type == 'counter'">
                <div class="col-2" *ngIf="order.status != 'Completed'">
                    <button type="button" class="btn btn-success">Complete</button>
                </div>
                <div class="col-1">
                    <button type="button" (click)="printReceipt()" class="btn btn-info">Print</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>