<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Table Number</th>
                        <th scope="col">Items</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" (click)="selectedOrder(order)">
                        <th scope="row">{{order.tableId}}</th>
                        <td>
                            <small *ngFor="let items of order.orderItems">
                        <td>
                            {{items.name}}
                            <b>{{items.pricePerPortion}}</b>
                        </td>
                        </small>
                        </td>
                        <td>{{order.createdAt}}</td>
                        <td [ngClass]="{
                            'table-warning': order.status === 'InProgress',
                            'table-success': order.status === 'Completed'
                          }">{{order.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="!!sidebarOrder">
            <app-order-panel [waiterId]="waiterId" [type]="counterType" [setOrder]="sidebarOrder"
                (close)="sidebarOrder = null">
            </app-order-panel>
        </div>
    </div>