<div class="container-fluid">
    <!-- https://getbootstrap.com/docs/4.3/layout/overview/ and 
    https://ng-bootstrap.github.io/#/components/
    for more ui designs -->
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="tables">
                <div *ngFor="let table of tables">
                    id : {{table.id}}
                    status: {{table.openOrder}}

                    <button class="btn" (click)="startOrderClick(table)">Start Order</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="!!sidebarOrder">
            <app-order-panel [waiterId]="waiterId" [setOrder]="sidebarOrder" (close)="sidebarOrder = null">
            </app-order-panel>
        </div>
    </div>
</div>