<div class="container-fluid">
    <!-- https://getbootstrap.com/docs/4.3/layout/overview/ and 
    https://ng-bootstrap.github.io/#/components/
    for more ui designs -->
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <button (click)="show(false)" class="btn btn-success">Hide</button>
            <button (click)="show(true)" class="btn btn-success">Show</button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="showView">
            <app-order-panel [tableId]="tableId" [waiterId]="waiterId"></app-order-panel>
        </div>
    </div>